/*---------------------------------Navigation*/
nav{
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}

nav a{
	padding-right: 20px;
}

/*---------------------------------Images*/
.price-list, .image{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*---------------------------------Title*/
.service-title{
	text-align: center;
	color:;
}


/*---------------------------------Table*/

div table{
	width:100%
	border-collapse: collapse;
}

th, td{
	padding:15px;
}

.price{

}


/*---------------------------------Footer*/
footer{
	text-align: center;
	background-color: #f6f6f5;
}